@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section contents {
    
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Edição de Estabelecimento</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-controller="Estabelecimento" asp-action="Index">Estabelecimentos</a></li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form data-bind="with:estabelecimento">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome" class="col-form-label">Nome<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nome" data-bind="value: nome" placeholder="Informe o nome">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email" class="col-form-label">E-mail<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="email" data-bind="value: email" placeholder="Informe o e-mail">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="url" class="col-form-label">Url<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="url" data-bind="value: url" placeholder="Informe a url">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="celular" class="col-form-label">Celular<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="celular" maxlength="15" placeholder="Informe o celular"
                                   data-bind="masked: celular, telefone: true">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefone" class="col-form-label">Telefone</label>
                            <input type="text" class="form-control" id="telefone" maxlength="15" placeholder="Informe o telefone"
                                   data-bind="masked: telefone, telefone: true">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="instagram" class="col-form-label">Instagram</label>
                            <input type="text" class="form-control" id="instagram" data-bind="value: instagram" placeholder="Informe o instagram">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="facebook" class="col-form-label">Facebook</label>
                            <input type="text" class="form-control" id="facebook" data-bind="value: facebook" placeholder="Informe o facebook">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descricao" class="col-form-label">Descrição<span class="text-danger">*</span></label>
                        <textarea class="form-control" id="descricao" rows="5" data-bind="value: descricao" placeholder="Informe a descrição"></textarea>
                    </div>

                    <div class="form-group float-right">
                        <button type="button" class="btn btn-secondary mr-1" data-bind="click: $parent.voltar">Voltar</button>
                        <button type="button" class="btn btn-primary" data-bind="click: $parent.salvar, disable: $parent.bloqueiaSalvar()">Salvar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {   
    <script src="~/js/estabelecimentoEdicao.min.js"></script>
}