@{ Layout = null; }

<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <div class="logo-box">
        <a href="index.html" class="logo logo-dark text-center">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm-dark.png" alt="" height="24">
                <!-- <span class="logo-lg-text-light">Minton</span> -->
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="20">
                <!-- <span class="logo-lg-text-light">M</span> -->
            </span>
        </a>

        <a href="index.html" class="logo logo-light text-center">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="24">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-light.png" alt="" height="20">
            </span>
        </a>
    </div>

    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
                <!-- ko if:  exibeMenuDashboard -->
                <li>
                    <a href="#Dashboard">
                        <i class="ri-bar-chart-box-line"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuEstabelecimento -->
                <li>
                    <a asp-controller="Estabelecimento" asp-action="Index">
                        <i class="ri-hotel-line"></i>
                        <span> Estabelecimentos </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuCalendario -->
                <li>
                    <a asp-controller="Agendamento" asp-action="Calendario">
                        <i class="ri-calendar-2-line"></i>
                        <span> Calendário </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuAgendamento -->
                <li>
                    <a asp-controller="Agendamento" asp-action="Index">
                        <i class="ri-time-line"></i>
                        <span> Agendamentos </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuAtendimento -->
                <li>
                    <a asp-controller="Atendimento" asp-action="Index">
                        <i class="ri-file-list-line"></i>
                        <span> Atendimentos </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuServico -->
                <li>
                    <a asp-controller="Servico" asp-action="Index">
                        <i class="ri-inbox-line"></i>
                        <span> Serviços </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuUsuario -->
                <li>
                    <a asp-controller="Usuario" asp-action="Index">
                        <i class="ri-account-box-line"></i>
                        <span> Usuários </span>
                    </a>
                </li>
                <!-- /ko-->

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->