@{ Layout = null; }

<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <div class="logo-box">
        <a href="#" onclick="redirectToPageByRole()" class="logo text-center">
            <!-- ko if:  !usuarioLogado().isAdministrador() -->
            <span class="logo-sm">
                <span class="logo-lg-text-light" data-bind="text: usuarioLogado().estabelecimentoNome()?.substr(0, 1)"></span>
            </span>
            <span class="logo-lg">
                <span class="logo-lg-text-light" data-bind="text: usuarioLogado().estabelecimentoNome()"></span>
            </span>
            <!-- /ko-->
            <!-- ko if:  usuarioLogado().isAdministrador() -->
            <span class="logo-sm">
                <span class="logo-lg-text-light">A</span>
            </span>
            <span class="logo-lg">
                <span class="logo-lg-text-light">Administrador</span>
            </span>
            <!-- /ko-->
        </a>      
    </div>

    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
                <!-- ko if:  exibeMenuDashboard -->
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="ri-bar-chart-box-line"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuEstabelecimento -->
                <li>
                    <a asp-controller="Estabelecimento" asp-action="Index">
                        <i class="ri-hotel-line"></i>
                        <span> Estabelecimentos </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuCalendario -->
                <li>
                    <a asp-controller="Agendamento" asp-action="Calendario">
                        <i class="ri-calendar-2-line"></i>
                        <span> Calendário </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuAgendamento -->
                <li>
                    <a asp-controller="Agendamento" asp-action="Index">
                        <i class="ri-time-line"></i>
                        <span> Agendamentos </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuAtendimento -->
                <li>
                    <a asp-controller="Atendimento" asp-action="Index">
                        <i class="ri-file-list-line"></i>
                        <span> Atendimentos </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuServico -->
                <li>
                    <a asp-controller="Servico" asp-action="Index">
                        <i class="ri-inbox-line"></i>
                        <span> Serviços </span>
                    </a>
                </li>
                <!-- /ko-->
                <!-- ko if:  exibeMenuUsuario -->
                <li>
                    <a asp-controller="Usuario" asp-action="Index">
                        <i class="ri-account-box-line"></i>
                        <span> Usuários </span>
                    </a>
                </li>
                <!-- /ko-->

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->